<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

#  <p style="text-align: center;"><span style="color:#2c061f"> Class 7, Problem Set 3 </span></p>

<br>

## <span style="color:#374045"> Introduction to Programming and Numerical Analysis </span>

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;">Deadline: 27/3 </p>

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;"> Plan for today </p>
<br>

1. pandas
    * The module for data analysis
2. Work on PS3
3. (Questions about the Inaugural Project)

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;"> pandas </p>

<br>

"*`pandas` is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.*"

[Extra help can be found here](https://pandas.pydata.org/docs/getting_started/index.html#getting-started)

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;"> pandas </p>

<br>

When working with data we will be working with pandas' DataFrame: 

$\rightarrow$ "*Two-dimensional, size-mutable, potentially heterogeneous tabular data".*

   * "Classic" dataset
   * A class in python with many methods!

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;"> pandas </p>
<br>

* What does a DataFrame look like?
    * You can read csv, xlsx, sas etc. 
    * Create DataFrames from dictionaries

In [1]:
# import pandas
import pandas as pd

# you can read data using the built in method read_csv. For other formats there are read_excel() and so on.
data = pd.read_csv('path/random_txt.txt', sep='\t')
data

   Strings  Numbers
0        I        1
1     Love        2
2   Coding        3
3       In        5
4  Jupyter        8
5      Lab       13

In [2]:
# you can use a dict to return a DataFrame
# keys are column names and values are lists/arrays i.e., the columns. Hence, must be same lenght
data_dict = {'random_integers' : [1, 45, 54, 12498134, 666]
            , 'random_strings' : ['Birds are not real', 'forty-five', 'abc', 'Pandas is cool', '9.11 was an inside job']
            }

data_dict

{'random_integers': [1, 45, 54, 12498134, 666],
 'random_strings': ['Birds are not real',
  'forty-five',
  'abc',
  'Pandas is cool',
  '9.11 was an inside job']}

In [8]:
# convert the dict to a DataFrame
# pd.DataFrame takes a dict as input
df = pd.DataFrame(data_dict)

print(type(df))

# look at the first 5 rows using the head() method
df.head(5) # .tail() will give you the last x rows

<class 'pandas.core.frame.DataFrame'>

   random_integers          random_strings
0                1      Birds are not real
1               45              forty-five
2               54                     abc
3         12498134          Pandas is cool
4              666  9.11 was an inside job

<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

## <p style="text-align: center;"> pandas </p>
<br>

* Now we know how create data frames - how do we wrangle it? Lets go through som basics
    * Accesing/creating columns
    * Subsetting DataFrames

In [7]:
# you can acces columns in many ways
#df['random_strings'] 
#df.random_strings
#df.loc[:,'random_strings']
df.iloc[:,1]

0        Birds are not real
1                forty-five
2                       abc
3            Pandas is cool
4    9.11 was an inside job
Name: random_strings, dtype: object

In [9]:
# add new columns like DataFrame['Column name'] = array/list of columns values
df['new_column'] = df.random_integers/2  # math is allowed
df['new_column_from_list'] = [int(i*2) for i in df.new_column] # lists can be added as columns
df.head()

   random_integers          random_strings  new_column  new_column_from_list
0                1      Birds are not real         0.5                     1
1               45              forty-five        22.5                    45
2               54                     abc        27.0                    54
3         12498134          Pandas is cool   6249067.0              12498134
4              666  9.11 was an inside job       333.0                   666

In [11]:
# Subseting DataFrames 101
# create a a boolean array from some condition you wish to apply
boolean_array = df['random_integers'] > 100
print(boolean_array)

# use the .loc[] method where you subset all indeces on your condition, and in this case pick out 1 variable
# want all variables? pass : instead of ['random_strings']
df_new = df.loc[boolean_array, ['random_strings']]
df_new

0    False
1    False
2    False
3     True
4     True
Name: random_integers, dtype: bool

           random_strings
3          Pandas is cool
4  9.11 was an inside job

In [19]:
# Subseting DataFrames 101
# pandas is very flexible in its syntax - you also can apply the condition directly
df_new = df[df.random_integers > 100]
# you can also negate a boolean array
#df_new = df[~ (df['random_integers'] > 100)]
df_new.head()

   random_integers          random_strings  new_column  new_column_from_list
3         12498134          Pandas is cool   6249067.0              12498134
4              666  9.11 was an inside job       333.0                   666

In [14]:
# Subseting DataFrames 101
# applying two conditions at once 
I = (df.random_integers > 100) & (df.random_integers == 666)
df[I]

   random_integers          random_strings  new_column  new_column_from_list
4              666  9.11 was an inside job       333.0                   666

In [25]:
# Subseting DataFrames 101
# choosing/dropping columns
#df_new[['random_strings']]
#df_new.drop(columns=['random_integers', 'new_column'])
df_new.iloc[:,[1]]
#df_new.head()

           random_strings
3          Pandas is cool
4  9.11 was an inside job