# Problem set 3: Loading and structuring data from Denmark Statistics

[<img src="https://mybinder.org/badge_logo.svg">](https://mybinder.org/v2/gh/NumEconCopenhagen/exercises-2020/master?urlpath=lab/tree/PS3/problem_set_3.ipynb)

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import pandas as pd
import ipywidgets as widgets

# Tasks

## Create a pandas DataFrame

Modify the code below such that *income* and *consumption* are variables in the *dt* DataFrame.

In [2]:
np.random.seed(1999)

# data can be stored in a dict which is smart as pandas can easily convert it to a dataframe
N = 100
mydata = {}
mydata['id'] = range(N)

# for each key-value pair in a dictionary is a column name-column pair
# add to dictionary
mydata['income'] = np.exp(np.random.normal(size=N))
mydata['consumption'] = np.sqrt(mydata['income'])

# pd.DataFrame takes a dict as an argument and returns a dataframe
dt_true = pd.DataFrame(mydata)
dt_true.head()

   id    income  consumption
0   0  0.727981     0.853218
1   1  1.997831     1.413447
2   2  0.276823     0.526140
3   3  1.481931     1.217346
4   4  1.235904     1.111712

## Create new variable

In [3]:
# you create or acces columns by the following syntax: 
    # acces: dataframe['column'] 
    # create: dataframe['column_name'] = array of values 
    
dt_true['ratio'] = dt_true['consumption']/dt_true['income']
dt_true.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

## Summary statistics

Produce summary statistics using `.describe()`.

In [4]:
dt_true.describe()

               id      income  consumption       ratio
count  100.000000  100.000000   100.000000  100.000000
mean    49.500000    1.415547     1.087844    1.117517
std     29.011492    1.322203     0.484238    0.525452
min      0.000000    0.108402     0.329245    0.351134
25%     24.750000    0.529323     0.727545    0.752310
50%     49.500000    0.981178     0.990533    1.009580
75%     74.250000    1.768211     1.329572    1.374491
max     99.000000    8.110612     2.847914    3.037255

## Indexing

Select everybody with an income above 1.

In [5]:
# shape of data before indexing:
print(f'Before indexing data have {dt_true.shape[1]} columns with {dt_true.shape[0]} observation in each\n',)

# create a boolean array
I = dt_true['income'] > 1

# how does I look like?
print(I.head(), '\n')

# use .loc[] to subset your data and return the desired dataframe
dt_true.loc[I, :]

# shape after subsetting:
print(f'After indexing data have {dt_true.loc[I, :].shape[1]} columns with {dt_true.loc[I, :].shape[0]} observation in each\n',)

# look at the first five observations
dt_true.loc[I, :].head()

Before indexing data have 4 columns with 100 observation in each

0    False
1     True
2    False
3     True
4     True
Name: income, dtype: bool

After indexing data have 4 columns with 49 observation in each

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

In [6]:
# shortcut
dt_true[dt_true.income > 1].head()
# notice that dt_true.income is equivalent to dt_true['income']

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

Select everybody with an income *above* 1 and a ratio *above* 0.7.

In [7]:
# you can add another condition when creating the boolean array
# yemember 'and' is '&' and 'or' is |
I = (dt_true['income'] > 1) & (dt_true['ratio'] > 0.7)
dt_true.loc[I].head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

In [8]:
# shortcut
dt_true[(dt_true['income'] > 1) & (dt_true['ratio'] > 0.7)].head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

Set consumption equal to 0.5 if income is less than 0.5.

In [9]:
# create the boolean array
I = (dt_true['income'] < 0.5)

# use .loc[] to subset and select column for which the value should be 0.5
dt_true.loc[I,['consumption']] = 0.5
dt_true['consumption'].mean()

1.075479712048503

Set consumption equal to income if income is less than 0.5.

In [10]:
# Cceate the boolean array
I = (dt_true['income'] < 0.5)

# Select the subset of data and consumption and set it equal to the values in income for the same subset
dt_true.loc[I,['consumption']] = dt_true.loc[I,['income']].values
dt_true['consumption'].mean()

1.0337728690050054

## Dropping

Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

In [11]:
dt_alt = dt_true.copy()

# check size of your data before altering
print(f'before: {dt_true.shape[0]} observations, {dt_true.shape[1]} variables')

# use pandas .drop() method to get rid of ratio - use the columns argument which takes a list of variables to drop
dt_true.drop(columns=['ratio'],axis=1,inplace=True)
# equivalent to above
#dt_true = dt_true.drop(columns=['ratio'],axis=1)

# create boolean array for the income condition
I = dt_true['income'] > 1.5

# You can also use the drop method which deletes all the rows of the indexes passed (axis not defined = indexes)
dt_true.drop(dt_true[I].index,inplace=True)

# Drop the first 5 obs using .loc[]
dt_true.drop(dt_true.loc[:5].index,inplace=True)

# How does it look?
print(f'after: {dt_true.shape[0]} observations, {dt_true.shape[1]} variables')

before: 100 observations, 4 variables
after: 65 observations, 3 variables

In [12]:
# alternative solution:
# delete the column from memory
del dt_alt['ratio']
#  create index
I = dt_alt['income'] > 1.5
# subset data with the boolean array by negating it: ~
dt_alt = dt_alt[~I]
# iloc is the index version of loc which can be used to drop the first 5 rows
dt_alt = dt_alt.iloc[5:,:]
print(f'after (alt): {dt_alt.shape[0]} observations, {dt_alt.shape[1]} variables')

after (alt): 65 observations, 3 variables

## Renaming

Rename *consumption* to *cons* and *income* to *inc*.

**Answer:**

In [13]:
# DataFrames have the renome method, which takes the argument columns which takes a dictionary. 
# so first create the dict
rename_dict = {'income':'inc','consumption':'con'}
# rename columns
dt_true.rename(columns=rename_dict,inplace=True)
dt_true.head()

    id       inc       con
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825
16  16  0.700896  0.837195

## Functions

Correct the wrong lines such that `assets_1 = assets_2 = assets_3 = assets_4`.

**Answer:**

In [16]:
R = 1.2 # return rate
Y = 1 # income

# define assets_1
dt_true['assets_1'] = R*(dt_true['inc']-dt_true['con'])+Y

# define a function that does row operation
def assets_row_by_row(x,R,Y):
    """
    Args:
        x (pd.DataFrame): DataFrame that contains the series 'inc' and 'con'
        R (float): rate of return 
        y (float): income
    Returns:
        pd.Series: Returns a series that contains the asset values
    """
    return R*(x['inc']-x['con'])+Y 

# .apply lets you apply a function along an axis of the DataFrame, here along the columns (axis=1)
# so starting from the top the values are calculated all the way along the column axis
dt_true['assets_2'] = dt_true.apply(assets_row_by_row,axis=1,args=(R,Y))

def assets_all_at_once(income,consumption,R,Y):
    """
    Args:
        income (pd.Series): column of income values
        consumption (pd.Series): column of consumption values
        R (float): rate of return 
        y (float): income
    Returns:
        pd.Series: Returns a series that contains the asset values
    """
    return R*(income-consumption)+Y

# the assets are created just as assets_1 by column-wise calculation, however by using a function
dt_true['assets_3'] = assets_all_at_once(dt_true['inc'].values,dt_true['con'].values,R,Y)

# create assets_4 in three steps
# 1. do the subtraction
dt_true['assets_4'] = dt_true['inc']-dt_true['con']
#2. create a function that adjusts a column
def assets_adj(assets,R,Y):
    assets *= R
    assets += Y
#3. adjust/update column using the function    
assets_adj(dt_true['assets_4'],R,Y)

dt_true.head()

    id       inc       con  assets_1  assets_2  assets_3  assets_4
8    8  0.582074  0.762938  0.782963  0.782963  0.782963  0.782963
10  10  0.932044  0.965424  0.959943  0.959943  0.959943  0.959943
12  12  0.356952  0.356952  1.000000  1.000000  1.000000  1.000000
13  13  0.379825  0.379825  1.000000  1.000000  1.000000  1.000000
16  16  0.700896  0.837195  0.836441  0.836441  0.836441  0.836441

# Problem

Load the data set in *data/NAH1_pivoted.xlsx* and clean and structure it such that the `plot_timeseries(dataframe)` below can be run and produce an interactive figure.

In [17]:
def _plot_timeseries(dataframe, variable, years):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['year']] = pd.to_numeric(dataframe['year'])
    I = (dataframe['year'] >= years[0]) & (dataframe['year'] <= years[1])
    
    x = dataframe.loc[I,'year']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(years[0], years[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Y','C','G','I','X','M'], 
        value='Y'),
    years=widgets.IntRangeSlider(
        description="years",
        min=1966,
        max=2018,
        value=[1980, 2018],
        continuous_update=False,
    )                 
);

**Hint 1:** You can base your renaming on this dictionary:

In [18]:
rename_dict = {}
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

**Hint 2:** You code should have the following structure:

In [19]:
# load data using pandas read_excel - pandas can read almost any data: read_csv, read_sas etc.
nah1 = pd.read_excel('data/NAH1_pivoted.xlsx',skiprows=2)

# rename using a dictionary
# add a new key-value pair
rename_dict['Unnamed: 0'] = 'year'
nah1.rename(columns=rename_dict,inplace=True)

# Subset data on Y not being NaN
I = nah1['Y'].notna()
nah1 = nah1[I]

# correct year column data
# I: Boolean array where year is NOT NaN
# J: Boolean array where year is NaN 
I = nah1['year'].notna()
J = nah1['year'].isna()
# subset data
nah1.loc[J,['year']] = nah1.loc[I,['year']].values

# Only keep rows with '2010-prices, chained values'
I = nah1['Unnamed: 1'] == '2010-prices, chained values'
nah1 = nah1[I]

# Subset data using loc. ':' selects all rows, then pass a list of variables to keep
nah1 = nah1.loc[:,['year','Y','C','G','I','X','M']]
nah1.head()

   year          Y         C         G         I         X         M
1  1966  1089347.0  549491.0  171307.0  127631.0  123594.0  112171.0
3  1967  1124579.0  588094.0  184983.0  133749.0  128182.0  120028.0
5  1968  1162778.0  612327.0  195664.0  142242.0  140746.0  127670.0
7  1969  1239121.0  649337.0  209375.0  164447.0  149184.0  144021.0
9  1970  1282852.0  671805.0  222350.0  168129.0  154880.0  157151.0

In [20]:
plot_timeseries(nah1)

interactive(children=(Dropdown(description='variable', options=('Y', 'C', 'G', 'I', 'X', 'M'), value='Y'), Intâ€¦

# Extra problems

## Extend interactive plot

Extend the interactive plot with a choice of *real* vs *nominal*.

## New data set

Load data from an Excel or CSV file you have downloaded from e.g. [Statistikbanken.dk](https://www.statistikbanken.dk/). Clean, structure and present the data as you see fit.